.tarjeta-contacto{
    max-Width: 800px;
    width: 100%; 
    border-Radius: 10px;
    -webkit-box-shadow: 0px 8px 9px 0px rgba(0,0,0,0.6) !important;
    -moz-box-shadow: 0px 8px 9px 0px rgba(0,0,0,0.6) !important;
    box-shadow: 0px 8px 9px 0px rgba(0,0,0,0.6) !important;
}


.badge-categoria{
    background-color: white !important;
    color: gray;
    border-radius: 25px;
    font-Size: 0.6rem;
    font-weight: bold;
    border: 1px solid rgba(173, 172, 172, 0.5);
    
}

.titulo-contacto{
    font-Weight: bold; 
    font-Size: 1.8rem; 
    line-Height: 1.2;
}
